pipeline/p1_ingest_formula1_data.json
{
	"name": "p1_ingest_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ingest_circuits_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/1.ingest_FullLoad_circuits_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_race_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/2.ingest_FullLoad_races_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_constructors_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/3.ingest_FullLoad_constructors_files",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_drivers_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/4.ingest_FullLoad_drivers_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_results_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/5.ingest_inc_results_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_pit_stops_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/6.ingest_inc_pit_stops",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_lap_times_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/7.ingest_inc_lap_times",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_qualifying_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/sathish.kumar.daggula@outlook.com/Formula-Project/Covert all ingested files to delta/8.ingest_inc_qualifying",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AD_f1_project",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-21T05:04:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}